/** Add css rules here for your application. */

/* body {
	background-color: #CCCCCC !important;
}*/

.gwt-DialogBox {
  width: 400px;
}

/* .gwt-TabLayoutPanel {
	margin: 5px;
}

.gwt-TabLayoutPanelContentContainer {
	background-color: white;
}*/

.buttonPane {
	white-space: nowrap;
}

.buttonPane .gwt-Button {
	font-weight: bold;
	margin: 0 5px;
}
